[submodule "Externals/Pocket"]
	path = Externals/Pocket
	url = https://github.com/Pocket/Pocket-ObjC-SDK.git
[submodule "Externals/GIDAAlertView"]
	path = Externals/GIDAAlertView
	url = https://github.com/GIDAIbero/GIDAAlertView.git
